* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,
body {
	font-size: 16px;
	width: 100%;
	color: antiquewhite;
	background-color: black;
}

main {
	height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

h1 {
	font-size: 250%;
}